tensorflow==2.20.0
streamlit
numpy
pillow
requests
google-generativeai
streamlit-js-eval
langchain
langchain-google-genai
langchain-core
langchain-community
langchain-groq
opencv-python-headless
groq
rembg
onnxruntime